.navbar{
  background-color: #fff !important;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
@media (max-width:767px) {
   .navbar{
       background:  #a4acdb  !important;
   } 
   .navbar-nav .nav-link{
       color: red ;
   }
  .navbar-toggler {
   background-color:  #fff !important;
    border-color: #fff !important;
}

}

.navbar-expand-lg .navbar-nav .nav-link{
    color: #5260AB !important;
    padding: 15px 10px !important;
    font-family:    "Patrick Hand", cursive;
    font-size: 20px !important;
}
.navbar-expand-lg .navbar-nav .nav-link:first-child{
    color:#51BFAD !important;
}
.navbar-collapse{
    flex-grow: 0 !important;
}